<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/reset.css}">
</head>

<body>
	<header>
		<h1>ログイン</h1>
	</header>
	<main>
		<div th:if="${error}" class="error-loginerror">
			<p>メールアドレスまたはパスワードが間違っています</p>
		</div>
		<form method="post" th:action="@{/login/process}">
			<div class="user-login">
				<div class="form-row">
					<label for="email">メールアドレス</label>
					<input type="text" id="email" name="accountEmail" required>
				</div>
				<div class="form-row">
					<label for="password">パスワード</label>
					<input type="password" id="password" name="password" required>
				</div>
				<div class="form-row">
					<button class="user-login-btn">ログイン</button>
				</div>
				<div class="form-row">
					<p>※パスワードを忘れた方は<a href="">こちら</a></p>
				</div>
			</div>
		</form>
		<div class="user-new">
			<a class="user-new-btn" th:href="@{/account/register}">新規登録はこちら</a>
		</div>
	</main>
	<footer>
		<small>Copyright &copy; SMH All rights reserved</small>
	</footer>
</body>

</html>