<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/reset.css}">
</head>

<body>
	<header>
		<h1>登録</h1>
	</header>
	<main>
		<div th:if="${error}" class="error-msg">
			<p th:if="${msg1}">メールアドレスが既に登録されています。</p>
			<p th:if="${msg2}">ユーザー名が既に登録されています。</p>
		</div>
		<form th:action="@{/account/register/process}" method="post">
			<div class="user-login-form">
				<div class="form-row"> <label for="username">ユーザー名</label> <input type="text" id="username"
						name="adminName" required> </div>
				<div class="form-row"> <label for="email">メールアドレス</label> <input type="text" id="email"
						name="adminEmail" required> </div>
				<div class="form-row"> <label for="password">パスワード</label> <input type="password" id="password"
						name="password" required> </div>
				<div class="form-row"> <button class="user-login-btn">登録</button> </div>
				<div class="form-row">
					<p>※利用規約は<a href="">こちら</a></p>
				</div>
			</div>
		</form>
		<div class="user-new"> <a class="user-new-btn" th:href="@{/login}">ログインはこちら</a> </div>
	</main>
	<footer> <small>Copyright &copy; SMH All rights reserved</small> </footer>
</body>

</html>